<h1>About Us</h1>

<h2>We are here for all of your bicycle needs in Berlin!</h2>
<p>We are a great company. Just ask us!</p>

<h2>This app rocks!</h2>








<p>Find me in app/views/static_pages/about.html.erb</p>
