<h1>Home</h1>
<p>Welcome! The date and time is <%= Time.now %></p>

<h1>Welcome to Bike Berlin!</h1>
<h2>Your source for used bikes in Berlin</h2>

<div class="container-fluid">
  <div class="row">
      <div class="col-xs-3 col-md-9">
        <%= image_tag("penny_farthing_bicycle.png", class: "img-responsive my-image") %>
      </div> 
      <div class="col-xs-3 col-md-3">
        <%= image_tag("otherbike.png", class: "img-responsive my-image" src="/assets/otherbike.png") %>
      </div>
    </div> 
  </div>
		